<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/jquery.mobile-1.3.2.css"/>
	<link rel="stylesheet" href="css/mmenu.css"/>
	<link rel="stylesheet" href="css/handheld.css"/>
	<link rel="stylesheet" href="css/docs.css"/>
	
	<script type="text/template" id="splash">
		<div data-role="content">
			<div class="splash">
				<img src="img/splash.jpg" alt="splash" />
			</div>
		</div>
	</script>
	
	<script type="text/template" id="login">
		<div data-role="content">
			<div data-role="fieldcontain">
				<input id="btnLogin" type="button" value="Register Later" />
			</div>
		</div>
	</script>

    <script type="text/template" id="home">
        <div id="header">
            <a id="menu" href="#menu"></a>
            <h1 class="header-title">Upcoming</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">
            <% if( prev ){ %>
                <a href="#" onclick="swipeDown();"><div id="category-<%= prev.get('category') %>" ></div></a>
            <% } %>
            <a href=""><div id="category-" ></div></a>
            <a href="#details/<%= ev.get('id') %>/0">
                <div id="to-event-details">
                    <img src='<%= ev.get("image") %>' alt="">
                    <% if(ev.get("category") == 1){%>
                        <div id="category-1">
                            <div id="texto-categoria">ENTERTAINMENT</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 2){%>
                        <div id="category-2">
                            <div id="texto-categoria">CULTURAL</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 3){%>
                        <div id="category-3" >
                            <div id="texto-categoria">WORK & EDUCATION</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 4){%>
                        <div id="category-4" >
                            <div id="texto-categoria">TOURISM & ADVENTURE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 5){%>
                        <div id="category-5" >
                            <div id="texto-categoria">EXERCISE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 6){%>
                        <div id="category-6" >
                            <div id="texto-categoria">SOCIAL LIFE</div>
                        </div>
                    <% }%>
                    <div id="details">
                        <div id="left-top">
                            <div id="titulo">
                                <%= ev.get("title") %></div>
                        </div>
                        <div id="right-top">
                            <div id="date"><%= ev.get("date") %> - <%= ev.get("time") %></div>
                            <div id="address"><%= ev.get("venue") %></div>
                        </div>
                        <div id="description" style="overflow:hidden; height:55px;" ><%= ev.get("description") %>
                    </div>
                </div>
             </a>
            <hr noshade />
            <% if(ev.get("recommendation_id") != null) {%>
                <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                    <div id="left-content">
                        <img src='<%= ev.get("recommendation_image") %>'  alt="" class="ri"/>    
                    </div>
                    <div id="right-content">
                        <div id="name"><%= ev.get("recommendation_username") %></div>
                        <div id="post-time">Posted on <%= ev.get("recommendation_date") %></div>
                    </div>
                    <div id="description-rec"> <%= ev.get("recommendation_text") %>
                    </div>
                </div>
            <% }%>
            <% if( next ){%>
                <a href="#" onclick="swipeUp();"><div id="category-<%= next.get('category') %>" ></div></a>
            <% } %>
        </div>
        <nav id="menu" >
            <ul>
                <li class="center"><a href="index.html">Activity</a></li>
                <li><a href="horizontal-submenus.html">Upcoming</a></li>
                <li><a href="vertical-submenus.html">Feed</a></li>
                <li class="center"><a href="index.html">Browse</a></li>
                <li><a href="onepage.html">Entertainment</a></li>
                <li><a href="iconbar.html">Cultural</a></li>
                <li><a href="dragopen.html">Work & Education</a></li>
                <li><a href="advanced.html">Tourism & Adventure</a></li>
                <li><a href="dragopen.html">Exercise</a></li>
                <li><a href="advanced.html">Social Life</a></li>
            </ul>
        </nav>
    </script>

    <script type="text/template" id="details">
        <div id="header">

            <a href="#" class="back-link"></a>
            <h1 class="header-title">Event</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">
            <a href="">
                <div id="to-event-details">
                    <div class="image_container" style="overflow:hidden;">
                        <img class="event_image" src='<%= ev.get("image") %>' alt='<%= ev.get("title") %>'>
                    </div>
                    <% if(ev.get("category") == 1){%>
                        <div id="category-1" >
                            <div id="texto-categoria">ENTERTAINMENT</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 2){%>
                        <div id="category-2" >
                            <div id="texto-categoria">CULTURAL</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 3){%>
                        <div id="category-3">
                            <div id="texto-categoria">WORK & EDUCATION</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 4){%>
                        <div id="category-4" >
                            <div id="texto-categoria">TOURISM & ADVENTURE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 5){%>
                        <div id="category-5" >
                            <div id="texto-categoria">EXERCISE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 6){%>
                        <div id="category-6" >
                            <div id="texto-categoria">SOCIAL LIFE</div>
                        </div>
                    <% }%>
                    <div id="details" >
                        <div id="left-top">
                            <div id="titulo"><%= ev.get("title") %></div>
                        </div>
                        <div id="right-top">
                            <div id="date"><%= ev.get("date") %> - <%= ev.get("time") %></div>
                            <div id="address"><%= ev.get("venue") %></div>
                        </div>
                         <div id="description" style="overflow:hidden; height:55px;" >
                            <%= ev.get("description") %>
                        </div>
                    </div>
                </a>
                        
                <div id="description-more">
                    <a class="view_more more color-<%=ev.get('category')%>">
                        Ver más
                    </a>
                </div>
                <div id="action">
                    <div id='left'>
                        <a href=""><img src="img/tickets<%= ev.get('category') %>.png"/></a> 
                    </div>
                    <div id='right'>
                            <a href=""><img src="img/share<%= ev.get('category') %>.png"/></a> 
                        </div>
                    </div>
                </div>
                
          
            <hr noshade />
            <% if(ev.get("recommendation_id") != null) {%>
                <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                    <div id="left-content">
                        <img src='<%= ev.get("recommendation_image") %>'  alt="" class="ri"/>    
                    </div>
                    <div id="right-content">
                        <div id="name"><%= ev.get("recommendation_username") %></div>
                        <div id="post-time">Posted on <%= ev.get("recommendation_date") %></div>
                    </div>
                    <div id="description-rec"> <%= ev.get("recommendation_text") %>
                    </div>
                </div>
            
                <hr noshade />
                <div id="view-more">
                    <a href="#recommendations/<%= ev.get('id') %>/0" class="date" data-transition="slideup">view more recommendations</a>
                </div>
            <% }%>
        </div>
        <script type="text/javascript">
            function check_description(){
                var description_element = document.getElementById("description");
                var  difference = 0;
                if(description_element){
                    var scrollHeight = description_element.scrollHeight;
                    var height = $(description_element).height();
                    difference = scrollHeight - height;    
                }
                //var to55 = scrollHeight + " 55px";
                //var from55 = "55 " + scrollHeight + "px";
                if(scrollHeight < height){ 
                    console.log("asdfafsasdfaf")
                    $("#description-more").text("");
                    $("#description-more").html("");
                }
                $(".view_more").unbind("click");
                $(".view_more").click(function(e){
                    //e.preventDefault();
                    var link = $(this).children("a");
                    h = $(".event_image").height();
                    if($(this).hasClass("more")){
                        $(this).removeClass("more");
                        $(this).addClass("less");
                        $(this).html("Ver menos");
                        h -= difference;
                        $("#description").css("height", "");
                    }
                    else{
                        $(this).addClass("more");
                        $(this).removeClass("less");
                        $(this).html("Ver más")
                        $("#description").css("height", "55px");
                    }
                    $(".image_container").css("height", h)
                    return false;
                });
            }
            check_description();
        </script>
    </script>

    <script type="text/template" id="recommendations">
        <div id="header">
            <a href="#details/<%= ev.get('id') %>/1" class="back-link"></a>
            <h1 class="header-title">Recommendations</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">
            <% for(var i = 0; i < comments.length; i++){%> 
                <div class="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                <div id="left-content">
                    <img src="<%= comments[i].get('image') %>"  alt="Rec" class="ri"/>    
                </div>
                <div id="right-content">
                    <div id="name"><%= comments[i].get('name') %></div>
                    <div id="post-time">Posted on <%= comments[i].get('date') %> </div>
                </div>
                <div id="description-rec">
                    <%= comments[i].get('text') %> - <%= comments[i].get('name') %>
                </div>
            </div>
            <% if(i < comments.length - 1){%> 
                <hr noshade /> 
            <% } %>
        <% } %>
            
        </div>
    </script>

    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="lib/jquery.mmenu.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.3.2.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/jquery.touchwipe.1.1.1.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
</body>

</html>
