<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/jquery.mobile-1.3.2.css"/>
	<link rel="stylesheet" href="css/mmenu.css"/>
	<link rel="stylesheet" href="css/handheld.css"/>
	<link rel="stylesheet" href="css/docs.css"/>
	
	<script type="text/template" id="splash">
		<div data-role="content">
			<div class="splash">
				<img src="img/splash.jpg" alt="splash" />
			</div>
		</div>
	</script>
	
	<script type="text/template" id="login">
		<div data-role="content">
			<div data-role="fieldcontain">
				<input id="btnLogin" type="button" value="Register Later" />
			</div>
		</div>
	</script>

    <script type="text/template" id="home">
        <div id="header">
            <a id="menu" href="#menu" class="menu-link"></a>
            <h1 class="header-title">Upcoming</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content" data-current-event-id="<%= ev.get('id') %>">
            <% if( prev ){ %>
                <div id="category-<%= prev.get('category') %>" class="category_swipe" onclick="swipeUp();"></div>
            <% } %>
            <a href="#details/<%= ev.get('id') %>/0">
                <div id="to-event-details">
                    <div class="home_image_container transition_element">
                       <img src='<%= ev.get("image") %>' alt="">
                    </div>
                    <% if(ev.get("category") == 1){%>
                        <div id="category-1">
                            <div id="texto-categoria">ENTERTAINMENT</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 2){%>
                        <div id="category-2">
                            <div id="texto-categoria">CULTURAL</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 3){%>
                        <div id="category-3" >
                            <div id="texto-categoria">WORK & EDUCATION</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 4){%>
                        <div id="category-4" >
                            <div id="texto-categoria">TOURISM & ADVENTURE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 5){%>
                        <div id="category-5" >
                            <div id="texto-categoria">EXERCISE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 6){%>
                        <div id="category-6" >
                            <div id="texto-categoria">SOCIAL LIFE</div>
                        </div>
                    <% }%>
                    <div id="details" style="max-height: 70px;">
                        <div id="left-top">
                            <div id="titulo" class="category-<%= ev.get('category')%>-color">
                                <%= ev.get("title") %>
                            </div>
                        </div>
                        <div id="right-top">
                            <div id="date" class="category-<%= ev.get('category')%>-color">
                                <%= ev.get("date") %> - <%= ev.get("time") %>
                            </div>
                            <div id="address" class="category-<%= ev.get('category')%>-color">
                                <%= ev.get("venue_text") %>
                            </div>
                        </div>
                        
                        <div id="action_description" class="transition_element" style="height: 0px; overflow: hidden;">
                            <div id="description">
                                <%= ev.get("description") %>
                            </div>
                            <div id="action">
                                <div id='left'>
                                    <a href=""><img src="img/tickets<%= ev.get('category') %>.png"/></a> 
                                </div>
                                <div id='right'>
                                    <a href=""><img src="img/share<%= ev.get('category') %>.png"/></a> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
            <hr noshade class="hr_noshade" />
            <% if(ev.get("recommendation_id") != null) {%>
                <div id="recommender" data-transition="fade">
                    <div id="left-content">
                        <a href="#profile/<%= ev.get('recommendation_user_id') %>">
                            <img src='<%= ev.get("recommendation_image") %>'  alt="" class="ri"/>    
                        </a>
                    </div>
                    <div id="right-content">
                        <div id="name"><%= ev.get("recommendation_username") %></div>
                        <div id="post-time"  onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');">
                            Posted on <%= ev.get("recommendation_date") %>
                        </div>
                    </div>
                    <div id="description-rec"> 
                        <%= ev.get("recommendation_text") %>
                    </div>
                </div>
            <% }%>
            <% if( next ){%>
                <div id="category-<%= next.get('category') %>" class="category_swipe end_of_page" onclick="swipeDown();">
                </div>
            <% } %>
        </div>
    </script>
    <script type="text/template" id="navigation_navbar">
        <nav id="menu" >
            <ul>
                <li class="center"><a href="#home">Activity</a></li>
                <li><a href="#home">Upcoming</a></li>
                <li><a href="#home">Feed</a></li>
                <li class="center"><a href="#home">Browse</a></li>
                <li><a href="#home/1">Entertainment</a></li>
                <li><a href="#home/2">Cultural</a></li>
                <li><a href="#home/3">Work & Education</a></li>
                <li><a href="#home/4">Tourism & Adventure</a></li>
                <li><a href="#home/5">Exercise</a></li>
                <li><a href="#home/6">Social Life</a></li>
            </ul>
            <ul class="menu_nav_links">
                <li class="clickable"><a href="#" class="chat"> </a></li>
                <li class="clickable"><a href="#" class="profile"> </a></li>
                <li class="clickable"><a href="#" class="settings"> </a></li>
            </ul>
        </nav>
    </script>
    <script type="text/template" id="details">
        <div id="header">
            <a href="#home" class="back-link"></a>
            <h1 class="header-title">Event</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">
            <a href="">
                <div id="to-event-details">
                    <div class="image_container" style="overflow:hidden;">
                        <img class="event_image" src='<%= ev.get("image") %>' alt='<%= ev.get("title") %>'>
                    </div>
                    <% if(ev.get("category") == 1){%>
                        <div id="category-1" >
                            <div id="texto-categoria">ENTERTAINMENT</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 2){%>
                        <div id="category-2" >
                            <div id="texto-categoria">CULTURAL</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 3){%>
                        <div id="category-3">
                            <div id="texto-categoria">WORK & EDUCATION</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 4){%>
                        <div id="category-4" >
                            <div id="texto-categoria">TOURISM & ADVENTURE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 5){%>
                        <div id="category-5" >
                            <div id="texto-categoria">EXERCISE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 6){%>
                        <div id="category-6" >
                            <div id="texto-categoria">SOCIAL LIFE</div>
                        </div>
                    <% }%>
                    <div id="details" >
                        <div id="left-top">
                            <div id="titulo" class="category-<%= ev.get('category') %>-color"><%= ev.get("title") %></div>
                        </div>
                        <div id="right-top">
                            <div id="date"><%= ev.get("date") %> - <%= ev.get("time") %></div>
                            <div id="address"><%= ev.get("venue_text") %></div>
                        </div>
                        <div id="description">
                            <%= ev.get("description") %>
                        </div>
                    </div>
                </a>
                        
                <div id="action">
                    <div id='left'>
                        <a href=""><img src="img/tickets<%= ev.get('category') %>.png"/></a> 
                    </div>
                    <div id='right'>
                            <a href=""><img src="img/share<%= ev.get('category') %>.png"/></a> 
                        </div>
                    </div>
                </div>
                
          
            <hr noshade />
            <% if(ev.get("recommendation_id") != null) {%>
                <div id="recommender" data-transition="fade" style="cursor: hand;">
                    <div id="left-content">
                        <a href="#profile/<%= ev.get('recommendation_user_id') %>">
                            <img src='<%= ev.get("recommendation_image") %>'  alt="" class="ri"/>    
                        </a>
                    </div>
                    <div id="right-content">
                        <div id="name"><%= ev.get("recommendation_username") %></div>
                        <div id="post-time" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');">
                            Posted on <%= ev.get("recommendation_date") %>
                        </div>
                    </div>
                    <div id="description-rec"> <%= ev.get("recommendation_text") %>
                    </div>
                </div>
            
                <hr noshade />
                <div id="view-more">
                    <a href="#recommendations/<%= ev.get('id') %>/0" class="date" data-transition="slideup">view more recommendations</a>
                </div>
            <% }%>
        </div>
        
    </script>

    <script type="text/template" id="recommendations">
        <div id="header">
            <a href="#details/<%= ev.get('id') %>/1" class="back-link"></a>
            <h1 class="header-title">Recommendations</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">
            <% for(var i = 0; i < comments.length; i++){%> 
                <div class="recommender" data-transition="fade" style="cursor: hand;">
                <div id="left-content">
                    <a href="#profile/<%= comments[i].get('user_id') %>">
                        <img src="<%= comments[i].get('image') %>"  alt="Rec" class="ri"/>    
                    </a>
                </div>
                <div id="right-content">
                    <div id="name"><%= comments[i].get('name') %></div>
                    <div id="post-time" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" >
                        Posted on <%= comments[i].get('date') %> 
                    </div>
                </div>
                <div id="description-rec">
                    <%= comments[i].get('text') %> - <%= comments[i].get('name') %>
                </div>
            </div>
            <% if(i < comments.length - 1){%> 
                <hr noshade /> 
            <% } %>
        <% } %>
            
        </div>
    </script>

    <script type="text/template" id="profile">
        <div id="header">
            <a href="#" class="back-link"></a>
            <h1 class="header-title">Profile</h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">   
            <div id="details">
                <div class="profile_image_container">
                    <img class="profile_image" src='<%= us.get("image_url") %>' alt='<%= us.get("first_name") %>'>
                </div>
                <div id="profile_info">
                    <div id="titulo" class="name">
                        <%= profile.get('first_name') %> <%= profile.get('last_name') %>
                    </div>
                    <div class="links">
                        <a href="#profile/<%= us.get(('id')) %>" class="selected">
                            <p>
                                <%= us.recommendationCount() %>
                                <span>Recommended</span>
                            </p> 
                        </a>
                        <a href="#profile/<%= us.get(('id')) %>/followers">
                            <p><%= us.followersCount() %> <span>Followers</span></p>
                        </a>
                        <a href="#profile/<%= us.get(('id')) %>/followees">
                            <p><%= us.followeesCount() %> <span>Followees</span> </p>
                        </a>
                    </div>
                </div>
                <div id="description" >
                    <%= us.get("description") %>
                </div>
            </div>

            <% for(var i = 0; i < comments.length; i++){%> 
                <div class="recommender" data-transition="fade" style="cursor: hand;" >
                    <div class="event" >
                        <a href="#details/<%= comments[i].get('event_id')%>/0">
                            <img src="<%= comments[i].get('event_image') %>"  alt="Rec" class="recommendation_image"/>    
                            <div class="event_title back-color-<%= comments[i].get('event_category') %>">
                                <h2><%= comments[i].get('event_name') %></h2>
                            </div>
                        </a>
                    </div>
                    <div class="event-recommendation">
                        <div class="post-time color-<%= comments[i].get('event_category') %>" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" >
                            Posted on <%= comments[i].get('date') %> 
                        </div>
                        <div class="shares color-<%= comments[i].get('event_category') %>"> <%= recommendationCollection.shareCount(comments[i].get('event_id')) %> Shares</div>
                    </div>
                    <div id="description-rec">
                        <%= comments[i].get('text') %>
                    </div>
                </div>
            <% } %>

        </div>
    </script>
    <script type="text/template" id="follows">
        <div id="header">
            <a href="#profile/<%= us.get('id') %>" class="back-link"></a>
            <h1 class="header-title"><%= title %></h1>
            <a id="notification" href=""></a>
        </div>
        <div data-role="content">   
            <div id="details">
                <div class="profile_image_container">
                    <img class="profile_image" src='<%= us.get("image_url") %>' alt='<%= us.get("first_name") %>'>
                </div>
                <div id="profile_info">
                    <div id="titulo" class="name">
                        <%= profile.get('first_name') %> <%= profile.get('last_name') %>
                    </div>
                    <div class="links">
                        <a href="#profile/<%= us.get(('id')) %>">
                            <p>
                                <%= us.recommendationCount() %>
                                <span>Recommended</span>
                            </p> 
                        </a>
                        <a href="#profile/<%= us.get(('id')) %>/followers" class="<%= title == 'Followers' ? 'selected' : '' %>" >
                            <p><%= us.followersCount() %> <span>Followers</span></p>
                        </a>
                        <a href="#profile/<%= us.get(('id')) %>/followees" class="<%= title == 'Followers' ? 'selected' : '' %>">
                            <p><%= us.followeesCount() %> <span>Followees</span> </p>
                        </a>
                    </div>
                </div>
                <div id="description" >
                    <%= us.get("description") %>
                </div>
            </div>

            <% for(var i = 0; i < follows.length; i++){%> 
                <div class="follow-user" data-transition="fade" style="cursor: hand;">
                    <div class="user <%= i%2==0 ? 'even' : 'odd' %> user_<%= i %>">
                        <div class="user_image">  
                            <a href="#profile/<%= follows[i].get('id') %>">                          
                                <img src="<%= follows[i].get('image_url') %>"  alt="Rec" class="follow_user_image"/>    
                            </a>
                        </div>
                        <div class="user_name" onclick="raise_button(<%= i %>);" >
                            <p><%= follows[i].get('first_name') %> <%= follows[i].get('last_name') %></p>
                        </div>
                        <% if( follows[i].is_followed_by( current_user ) ) { %>
                            <div class="following"> 
                                <img src="/img/FollowingSmall.png"/>
                            </div>
                        <% }else{ %>
                            <div class="follow_btn hidden">
                                <!-- <img src="/img/Follow.png"/> -->
                            </div>
                        <% }%>
                    </div>
                </div>
            <% } %>
            <script type="text/javascript">
                function raise_button(row_index){
                    //console.log(row_index);
                    var selector = ".user.user_"+row_index+ " .follow_btn";
                    //toggle class
                    if($(selector).hasClass("hidden")){
                        $(selector).fadeIn("slow");
                    }else{
                        $(selector).fadeOut("slow");
                    }
                    $(selector).toggleClass("hidden");
                }
                //$( ".user .user_name" ).on( "swipe", function(){ $(this).click(); return false; } );
                $( ".user" ).on( "swipe", function(){ $(this).children(".user_name").click(); return false; })
            </script>
        </div>
    </script>

    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="lib/jquery.mmenu.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.3.2.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/jquery.touchwipe.1.1.1.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
</body>

</html>
