<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/jquery.mobile-1.3.2.css"/>
	<link rel="stylesheet" href="css/mmenu.css"/>
	<link rel="stylesheet" href="css/handheld.css"/>
	<link rel="stylesheet" href="css/docs.css"/>
	
	<script type="text/template" id="splash">
		<div data-role="content">
			<div class="splash">
				<img src="/img/splash.jpg" alt="splash" />
			</div>
		</div>
	</script>

    <script type="text/template" id="home">
        <div id="header">
            <a id="menu" href="#menu"></a>
            <h1 class="header-title">Upcoming</h1>
        </div>
        <div data-role="content">
            <a href="">
                <div id="to-event-details">
                    <img src='<%= ev.get("image") %>' alt="Event-image">
                    <% if(ev.get("category") == 1){%>
                        <div id="category-1" style="cursor: hand;">
                            <div id="texto-categoria">ENTERTAINMENT</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 2){%>
                        <div id="category-2" style="cursor: hand;">
                            <div id="texto-categoria">CULTURAL</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 3){%>
                        <div id="category-3" style="cursor: hand;">
                            <div id="texto-categoria">WORK & EDUCATION</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 4){%>
                        <div id="category-4" style="cursor: hand;">
                            <div id="texto-categoria">TOURISM & ADVENTURE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 5){%>
                        <div id="category-5" style="cursor: hand;">
                            <div id="texto-categoria">EXERCISE</div>
                        </div>
                    <% }%>
                    <% if(ev.get("category") == 6){%>
                        <div id="category-6" style="cursor: hand;">
                            <div id="texto-categoria">SOCIAL LIFE</div>
                        </div>
                    <% }%>
                    <div id="details" style="cursor: hand;">
                        <div id="left-top">
                            <div id="titulo">
                                <%= ev.get("title") %></div>
                        </div>
                        <div id="right-top">
                            <div id="date"><%= ev.get("date") %> - <%= ev.get("time") %></div>
                            <div id="address"><%= ev.get("venue") %></div>
                        </div>
                    </div>
                </div>
             </a>
            <hr noshade />
            <% if(ev.get("recommendation_id") != null) {%>
                <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                    <div id="left-content">
                        <img src='<%= ev.get("recommendation_image") %>'  alt="Rec" class="ri"/>    
                    </div>
                    <div id="right-content">
                        <div id="name"><%= ev.get("recommendation_username") %></div>
                        <div id="post-time"><%= ev.get("recommendation_date") %></div>
                    </div>
                    <div id="description-rec">"<%= ev.get('recommendation_text') %>"
                    </div>
                </div>
            <% }%>
        </div>

        <nav id="menu">
            <ul>
                <li class="center"><a href="index.html">Activity</a></li>
                <li><a href="horizontal-submenus.html">Upcoming</a></li>
                <li><a href="vertical-submenus.html">Feed</a></li>
                <li class="center"><a href="index.html">Browse</a></li>
                <li><a href="onepage.html">Entertainment</a></li>
                <li><a href="iconbar.html">Cultural</a></li>
                <li><a href="dragopen.html">Work & Education</a></li>
                <li><a href="advanced.html">Tourism & Adventure</a></li>
                <li><a href="dragopen.html">Exercise</a></li>
                <li><a href="advanced.html">Social Life</a></li>
            </ul>
        </nav>
    </script>

    <script type="text/template" id="details">
        <div id="header">
            <a href="#">Back</a>
            <h1 class="header-title">Event</h1>
        </div>
        <div data-role="content">
            <a href="#details/10/0">
                <div id="to-event-details">
                    <img src="img/event-image.jpg" alt="Event-image">
                    <div id="category" style="cursor: hand;">
                        <div id="texto-categoria">ENTERTAINMENT</div>
                    </div>
                    <div id="details" style="cursor: hand;">
                        <div id="left-top">
                            <div id="titulo">THE BOOK OF MORMON</div>
                        </div>
                        <div id="right-top">
                            <div id="date">July 28 - 10pm</div>
                            <div id="address">Eugene O Neill Theatre</div>
                        </div>
                         <div id="description" style="overflow:hidden; height:55px;" >The play opened at the Eugene O'Neil Theatre on March 24, 2011. The musical has been so popular that the theater has had problems with the sale of counterfeit tickets, through Craigslist, on multiple occasions. The musical is written and created by, of course, Matt Stone and Trey Parker, who also created South Park, Team America: World Police, and BASEketball. The duo received song writing help from lyricist and composer Robert Lopez, co-writer of Avenue Q. The Book of Mormon is co-directed by Trey Parker and Casey Nicholaw, who has choreographed The Drowsy Chaperone and Monty Python's Spamalot.
                        </div>
                        <div id="action">
                            <div id='left'>
                                <a href=""><img src="img/share.png"/></a> 
                            </div>
                            <div id='right'>
                                <a href=""><img src="img/createchat.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>
             </a>
            <hr noshade />
            <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                <div id="left-content">
                    <img src="img/recommender-profile-photo.jpg"  alt="Rec" class="ri"/>    
                </div>
                <div id="right-content">
                    <div id="name">The New York Post</div>
                    <div id="post-time">Posted on March 24, 2011</div>
                </div>
                <div id="description-rec">"fiendishly well-crafted, hilariously smart"
                </div>
            </div>
            <hr noshade />
            <div id="view-more">
                <a href="#recommendations/10/0" class="date" data-transition="slideup">view more recommendations</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="recommendations">
        <div id="header">
            <a href="#details/10/1">Back</a>
            <h1 class="header-title">Recommendations</h1>
        </div>

        <div data-role="content">
            <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                <div id="left-content">
                    <img src="img/recommender-profile-photo.jpg"  alt="Rec" class="ri"/>    
                </div>
                <div id="right-content">
                    <div id="name">The New York Post</div>
                    <div id="post-time">Posted on March 24, 2011</div>
                </div>
                <div id="description-rec">It’s a fiendishly well-crafted, hilariously smart, or maybe smartly hilarious, song-and-dance extravaganza. The show’s a hoot. The show’s a hit. - Elisabeth Vincentelli
                </div>
            </div>
            <hr noshade /> 
            <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                <div id="left-content">
                    <img src="img/recommender-profile-photo.jpg"  alt="Rec" class="ri"/>    
                </div>
                <div id="right-content">
                    <div id="name">The New York Post</div>
                    <div id="post-time">Posted on March 24, 2011</div>
                </div>
                <div id="description-rec">It’s a fiendishly well-crafted, hilariously smart, or maybe smartly hilarious, song-and-dance extravaganza. The show’s a hoot. The show’s a hit. - Elisabeth Vincentelli
                </div>
            </div>
            <hr noshade /> 
            <div id="recommender" data-transition="fade" onclick="window.open('http://www.nypost.com/p/entertainment/theater/mormon_conquest_twlCrNAUI2E2z4l2tOqAWM', '_self');" style="cursor: hand;">
                <div id="left-content">
                    <img src="img/recommender-profile-photo.jpg"  alt="Rec" class="ri"/>    
                </div>
                <div id="right-content">
                    <div id="name">The New York Post</div>
                    <div id="post-time">Posted on March 24, 2011</div>
                </div>
                <div id="description-rec">It’s a fiendishly well-crafted, hilariously smart, or maybe smartly hilarious, song-and-dance extravaganza. The show’s a hoot. The show’s a hit. - Elisabeth Vincentelli
                </div>
            </div>
        </div>
    </script>

    <!-- The Scripts -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="lib/jquery.mmenu.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.3.2.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/jquery.touchwipe.1.1.1.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
</body>

</html>